<!DOCTYPE html>
<html>

{% include 'encabezado.html' %}
    <head>
        <title>Pujar Subasta</title>

<script>
function validateForm() {
  var pujamayor = document.form["pujamayor"].value;
  var puja = document.form["puja"].value;
  if (puja <= pujamayor) {
    alert("El Monto Ingresado es menor a la puja maxima");
    return false;
  }
}
</script>

</head>
{% include 'barra.html' %}


<body>





<div class="container" >

    <main class="main">



   <center> 
<div class="card">
  <br>
  <h1> Pujar Subasta</h1>
	<br>

	   <form name="form" action="./index.php?action=pujarSubasta&idSubasta={{idSubasta}}"   onsubmit="return validateForm()" method="POST" >
  
        <input type="decimal" id="pujamayor" readonly="readonly" name="pujamayor" value="{{puja}}" />
        <div style=" width: 20%">
		<div class="input-group mb-3">
           <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            <span class="input-group-text">00.00</span>
            </div>
         <input type="decimal" id="puja" class="form-control" name="puja">

        </div>
        </div>
  



     <button type="submit" class="btn btn-primary">Pujar</button>
     
    </form>


<br>
</center>  
          
</div>

</main>
</div>

</body>
</html>